    <h1 style="text-align: center;">Ini adalah halaman Tentang Saya</h1>
    <p style="padding-left: 21%;">Saya adalah seorang mahasiswa di Universitas Pamulang dengan jurusan Teknik Informatika</p>
    <p style="padding-left: 21%;">Umur saya 22 tahum</p>
    <p style="padding-left: 21%;">saya tinggal di tangerang</p>